.contact {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 25rem calc(100vh - 25rem);
    overflow: hidden;
    position: relative;

    @media only screen and (max-width: $bp-medium) {
        grid-template-rows: 17.5rem repeat(3, min-content);
        height: 100%;
    }

    @media only screen and (max-width: $bp-small) {
        grid-template-rows: 10.5rem repeat(3, min-content);
    }

    &__img {
        grid-column: 1 / 3;
        grid-row: 2 / 3;
        align-self: end;

        @media only screen and (max-width: $bp-medium) {
            grid-column: 2 / 6;
            grid-row: 4 / 5;
        }

        @media only screen and (max-width: $bp-medium) {
            grid-column: 1 / -1;
        }

        &--item {

            &:after {
                content: '';
                display: block;
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                background-color: 
                rgba(0, 0, 0, 0.2);
            }

            img {
                width: 100%;
                display: block;
            }
        }
    }

    &__form {
        grid-column: 4 / 6;
        grid-row: 2 / 3;
        align-self: center;
        width: 100%;
        display: flex;
        flex-direction: column;   
        transform: translateY(-11rem);
        z-index: 10;

        @media only screen and (max-width: $bp-medium) {
            grid-column: 2 / 6;
            grid-row: 2 / 3;
            transform: translateY(0);
            margin-bottom: 4rem;
        }

        .form-group {
            color: #fff;
            display: flex;
            flex-direction: column;
            font-size: 2.2rem;
            margin-bottom: 4rem;

            .form-control {
                border: 0;
                background-color: transparent;
                border-bottom: 1px solid #aaa;
                color: #aaa;
                padding: 1rem 0;
                font-size: inherit;
                transition: all .2s;
                font-size: 2rem;
                border-radius: 0;
        

                &:focus,
                &:active,
                &:hover {
                    border-color:#fff;
                }
                
                &:invalid {
                    border: none;
                    border-bottom: 1px solid red;
                }
            }
        }
        
        .btn {
            align-self: flex-end;
            margin-right: 0;
            display: block;
        }
    }

    &__info {
        grid-column: 4 / 6;
        grid-row: 2 / 3;
        align-self: end;
        padding-bottom: 4rem;
        color: #fff;
        font-size: 2rem;
        z-index: 20;

        @media only screen and (max-width: $bp-medium) {
            grid-column: 2 / 6;
            grid-row: 3 / 4;
            margin-bottom: 4rem;
        }

        @media only screen and (max-width: $bp-smallest) {
            align-self: center;
        }

        a {
            text-decoration: none;
            color: currentColor;
        }

        &--item {
            display: grid;
            grid-template-columns: min-content max-content;
            grid-column-gap: 2rem;
            align-items: center;
            margin-bottom: 2rem;
        }

        &--address {
            
        }

        &--tel {
        
        }

        &--email {

        }

        &--icon {
            fill: $color-primary;
            width: 2rem;
            height: 2rem;
        }
    }

    &__bg-text {
        position: absolute;
        font-size: 38rem;
        color: #fff;
        opacity: .11;
        font-family: $font-secondary;
        left: 50%;
        bottom: 15rem;
        line-height: 0;
        transform: translateX(-50%);

        @media only screen and (max-width: $bp-large) {
            font-size: 30rem;
        }

        @media only screen and (max-width: $bp-medium) {
            display: none;
        }
    }
}