.kolekcije {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 25rem calc(100vh - 25rem);
    overflow: hidden;

    @media only screen and (max-width: $bp-medium) {
        grid-template-rows: 17.5rem min-content;
    }

    @media only screen and (max-width: $bp-small) {
        grid-template-rows: 10.5rem min-content;
    }

    &__gallery {
        grid-column: 1 / -1;
        grid-row: 2 / 3;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        align-items: end;


        &--item {
            position: relative;
            display: flex;

            &:hover img {
                transform: scale(1.15);
            }

            &:hover .kolekcije__gallery--link {
                box-shadow: 0 0 2rem rgba($color-primary, .7);
            }

            figure {
                overflow: hidden;
                width: 100%;

                a {
                
                    &::after {
                        content: '';
                        display: block;
                        position: absolute;
                        top: 0;
                        right: 0;
                        bottom: 0;
                        left: 0;
                        background-color: rgba(0,0,0, 0.2);
                    }
                }
            }
        }

        &--item-1 {
            grid-column: 1 / 3;

            @media only screen and (max-width: $bp-medium) {
                grid-column: 1 / 5;
            }

            @media only screen and (max-width: $bp-smallest) {
                grid-column: 1 / 6;
            }
        }

        &--item-2 {
            grid-column: 4 / 6;
            align-self: center;
            margin-bottom: 6rem;

            @media only screen and (max-width: $bp-medium) {
                grid-column: 3 / 7;
                margin-bottom: 0;
            }

            @media only screen and (max-width: $bp-smallest) {
                grid-column: 2 / 7;
                margin-bottom: 0;
            }


            figure {

                @media only screen and (max-width: $bp-medium) {
                    order: 2;
                }
            }

            .kolekcije__gallery--link {
                align-self: end;

                @media only screen and (max-width: $bp-medium) {
                    order: 1;
                    margin-right: 0;
                    margin-left: -6rem;
                }
            }

            .kolekcije__gallery--info {
                top: 20rem;
                bottom: auto;

                @media only screen and (max-width: $bp-medium) {
                    left: -18rem;
                    top: 30rem;
                }

                @media only screen and (max-width: $bp-smallest) {
                    top: 80%;
                    left: 2rem;
                }
            }

            .kolekcije__gallery--info-num {

                @media only screen and (max-width: $bp-smallest) {
                    bottom: 1rem;
                }
            }
            
            .kolekcije__gallery--info-title {
                left: -8rem;

                @media only screen and (max-width: $bp-largest) {
                    left: -12rem;
                }

                @media only screen and (max-width: $bp-medium) {
                    left: -5rem;
                }

                @media only screen and (max-width: $bp-small) {
                    left: 0rem;
                }
            }
        }

        &--img {
            width: 100%;
            display: block;
            transition: all 10s;
        }

        &--info {
            position: absolute;
            color: #fff;
            font-family: $font-secondary;
            bottom: 20rem;
            right: -25.5rem;
            z-index: 10;

            @media only screen and (max-width: $bp-largest) {
                right: -22.5rem;
            }

            @media only screen and (max-width: $bp-medium) {
                right: -19.5rem;
            }

            @media only screen and (max-width: $bp-smallest) {
                right: 0;
                bottom: 1rem;
            }

            &-num {
                font-size: 32rem;
                color: rgba(255, 255, 255, .11);
                line-height: 0;

                @media only screen and (max-width: $bp-largest) {
                    font-size: 28rem;
                }

                @media only screen and (max-width: $bp-large) {
                    font-size: 24rem;
                }
            }

            &-title {
                font-size: 4.5rem;
                position: absolute;
                bottom: 1rem;
                width: 40rem;

                @media only screen and (max-width: $bp-largest) {
                    left: -5rem;
                }

                @media only screen and (max-width: $bp-large) {
                    font-size: 3.5rem;
                    left: -5rem;
                }
            }
        }


        &--link {
            width: 6rem;
            height: 6rem;
            border: 1px solid $color-primary;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: box-shadow .2s;
            margin-right: -6rem;
            position: relative;
            z-index: 20;

            span {
                width: 5px;
                height: 5px;
                background-color: $color-primary;
                border-radius: 50%;
                position: absolute;
                z-index: 10;

                &::before,
                &::after {
                    content: '';
                    display: block;
                    height: 5px;
                    width: 5px;
                    background-color: $color-primary;
                    border-radius: 50%;
                }

                &::before {
                    transform: translateX(-1.2rem);
                }

                &::after {
                    transform: translate(1.2rem, -0.5rem);

                    @media only screen and (max-width: $bp-largest) {
                        transform: translate(1.2rem, -0.6rem);
                    }
                }
            }
        }
    }
}